/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.layout_padding2 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.header_section {
    width: 100%;
    float: left;
    background-image: #fff;
    height: auto;
    background-size: 100%;
    padding: 10px 0px 25px 0px;
    background-repeat: no-repeat;
}

.logo {
    width: 32%;
    float: left;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    color: #272a2a;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #15e4d0;
}

.navbar {
    padding: .5rem 70px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #21273c;
}

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 105px;
}

.images_1 {
    width: 80%;
    float: right;
    padding-top: 50px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #15e4d0;
    font-weight: bold;
    line-height: 60px;
    padding-top: 120px;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin: 0px;
    color: #252525;
}

.btn_main {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.more_bt {
    width: 170px;
    float: left;
}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #4bc5b8;
    text-align: center;
    padding: 10px 0px;
}

.contact_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
}

.contact_bt a:hover {
    color: #f6f8f8;
    background-color: #4bc5b8;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
    border: 4px solid #4bc5b8;
    color: #4bc5b8;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 200px;
    top: 85%;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 120px;
    top: 85%;
    border: 4px solid #4bc5b8;
    color: #4bc5b8;
}


#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    border: 4px solid #000;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}



#main_slider2 .carousel-control-prev2:hover,
#main_slider2 .carousel-control-next2:hover,
#main_slider2 .container-control-prev2:focus,
#main_slider2 .carousel-control-next2:focus {
    border: 4px solid #4bc5b8;
    color: #4bc5b8;
}

#main_slider2 a.carousel-control-next2 {
    position: absolute;
    left: 200px;
    top: 95%;
}

#main_slider2 a.carousel-control-prev2 {
    position: absolute;
    left: 120px;
    top: 95%;
    border: 4px solid #4bc5b8;
    color: #4bc5b8;
}


#main_slider2 .carousel-control-prev2,
#main_slider2 .carousel-control-next2 {
    width: 65px;
    height: 65px;
    border: 4px solid #000;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}




.health_section {
    width: 98%;
    float: left;
    padding-bottom: 60px;
}

.health_section3 {
    width: 98%;
    float: left;
    padding-bottom: 20px;
}

.health_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
}

.health_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    margin: 0px;
}

.health_section_2 {
    width: 100%;
    float: left;
}

.image_main {
    width: 100%;
    position: relative;
}

.image_main:after {
    content: '';
    position: absolute;
    background-color: #cfedf0;
    height: 450px;
    width: 300px;
    left: 0px;
    right: initial;
    z-index: -1;
    margin: 0 auto;
    top: -40px;
}

.main {
    width: 100%;
    margin: 40px 0px 0px 40px;
    box-shadow: 0px 0px 14px 2px #f3f3f3;
    position: relative;
}

.main::after {
    content: '';
    position: absolute;
    background-color: rgba(27, 236, 222, 0.5);
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.main:hover::after {
    background-color: rgba(27, 236, 222, 0.5);
    display: block;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image_main:hover .image {
    background-color: rgba(27, 236, 222, 0.5);
}

.image_main:hover .middle {
    opacity: 1;
}

.text {
    background-color: #252525;
    color: white;
    font-size: 16px;
    padding: 32px 32px;
    border-radius: 100px;
}

.image_main_1 {
    width: 100%;
    position: relative;
}

.image_main_1:hover .image {
    background-color: rgba(27, 236, 222, 0.5);
}

.image_main_1:hover .middle {
    opacity: 1;
}

.getquote_bt_1 {
    width: 180px;
    float: left;
    margin-top: 100px;
}

.getquote_bt_1 a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0px;
    text-align: center;
}

.getquote_bt_1 a:hover {
    background-color: #252525;
}

.knowledge_section {
    width: 100%;
    float: left;
    background-image: url(../images/simulador2.jpeg);
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
    padding-top: 180px;
    padding-bottom: 240px;
}

.knowledge_section2 {
    width: 100%;
    float: left;
    background-image: url(../images/cosede.png);
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
    padding-top: 180px;
    padding-bottom: 240px;
}

.knowledge_main {
    width: 100%;
    float: left;
}

.left_main {
    width: 70%;
    float: left;
}

.right_main {
    width: 30%;
    float: left;
}

.knowledge_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.knowledge_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
}

.play_icon {
    width: 130px;
    float: left;
    position: relative;
    z-index: 5;
}

.play_icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 100%;
    z-index: -1;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0px 0px 10px 0px;
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}

.news_section {
    width: 100%;
    float: left;
    padding-bottom: 0px;
}

.news_section_2 {
    width: 100%;
    float: left;
}

.box_main {
    width: 100%;
    float: left;
    background-color: #fff;
    height: auto;
    border-radius: 15px;
    padding: 40px;
}

.box_main:hover {
    background-color: #f2e47b ;
}

.box_main.active {
    background-color: #ffff;
}

.icon_1 {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
    line-height: 95px;
}

.daily_text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    display: block;
    color: #21273c;
    line-height: 30px;
}

.daily_text_1 {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    display: block;
    color: #21273c;
    line-height: 30px;
    padding-bottom: 40px;
}

.getquote_bt {
    width: 180px;
    margin: 0 auto;
    text-align: center;
}

.getquote_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0px;
    text-align: center;
    margin-top: 50px;
}

.getquote_bt a:hover {
    background-color: #252525;
}

.contact_section {
    width: 100%;
    float: left;
    background-image: url(../images/contact-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #030202;
    font-weight: bold;
}

.icon_main {
    width: 100%;
    display: flex;
    padding-top: 50px;
}

.icon_7 {
    width: 20%;
    float: left;
}

.diabetes_text {
    width: 70%;
    float: left;
    font-size: 30px;
    color: #040101;
    font-weight: 500;
}

.contact_box {
    width: 100%;
    float: left;
    background-color: #f1fafb;
    height: auto;
    padding: 30px;
}

.book_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #252525;
    text-align: center;
    font-weight: 500;
}

.Email_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #bebebe;
    background-color: #ffffff;
    padding: 5px 15px;
    border: 0px;
    margin-top: 30px;
}

.massage-bt {
    width: 100%;
    float: left;
    color: #bebebe;
    height: 110px;
    font-size: 18px;
    padding: 36px 20px 10px 20px;
    background-color: #ffffff;
    border: 0px;
    margin-top: 30px;
}

.send_bt {
    width: 140px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0px;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

.send_bt a:hover {
    background-color: #252525;
}

.client_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.client_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    color: #111010;
    font-weight: bold;
}

.client_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #444443;
    text-align: center;
    margin: 0px;
}

.client_section_2 {
    width: 100%;
    float: left;
    padding-top: 60px;
}

.client_left {
    width: 40%;
    float: left;
}

.client_right {
    width: 60%;
    float: left;
    padding-top: 100px;
}

.client_img {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.distracted_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #080808;
    font-weight: bold;
    text-transform: uppercase;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #444443;
    margin: 0px;
}

.quote_icon {
    width: 100%;
    float: left;
    padding-top: 20px;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
    background-color: #19e9d9;
    color: #ffffff;
}

#my_slider a.carousel-control-next {
    position: absolute;
    left: 490px;
    top: 70%;
    background-color: #19e9d9;
    color: #ffffff;
}

#my_slider a.carousel-control-prev {
    position: absolute;
    left: 490px;
    top: 84%;
    background-color: #252525;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background-color: #252525;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #21273c;
    height: auto;
    padding-bottom: 50px;
    box-shadow: 0px 24px 19px -1px #222223;
    position: relative;
}

.footer_logo {
    width: 80%;
    float: left;
    padding: 0px 0px 30px 0px;
}

.adderss_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 30px;
}

.map_icon {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #d6d6d6;
    padding-bottom: 10px;
}

.paddlin_left_0 {
    padding-left: 15px;
}

.hiphop_text_1 {
    width: 90%;
    color: #d6d6d6;
    font-size: 16px;
    margin-left: 0px;
}

.Useful_text {
    width: 50%;
    color: #d6d6d6;
    font-size: 16px;
    margin-left: 0px;
}

.Enter_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    padding: 7px 10px;
    margin-top: 10px;
    border: 1px solid #cfcfd0;
}

input.Enter_text::placeholder {
    color: #fff;
}

.subscribe_bt {
    width: 170px;
    float: left;
    margin-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #19e9d9;
    text-align: center;
    padding: 7px 0px;
    text-transform: uppercase;
}

.social_icon {
    width: 100%;
    float: left;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
}

.social_icon li {
    float: left;
    padding-right: 10px;
    padding-top: 20px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin-left: 0px;
    color: #fff;
    text-align: center;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #19e9d9;
}

.margin_90 {
    margin: 90px 0px;
}

.text-primary {
  color: #21273c !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #527a20 !important;
}



.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #495057;
  border-radius: 0.2rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #495057;
}

.card-header:first-child {
  border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid #495057;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.2rem - 1px) calc(0.2rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.2rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.2rem - 1px);
  border-top-right-radius: calc(0.2rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.2rem - 1px);
  border-bottom-left-radius: calc(0.2rem - 1px);
}

.card-deck {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-group > .card {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}

.accordion > .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}

.accordion > .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card .card-header {
  margin-bottom: -1px;
}


.card {
  border-color: #495057;
  overflow: hidden;
}

.testmonial-card {
  position: relative;
  text-align: center;
}

.testmonial-card .testmonial-title {
  font-size: 1.85rem;
}

.testmonial-card .testmonial-subtitle {
  font-size: 0.8rem;
  letter-spacing: 1px;
  opacity: 0.8;
}

.testmonial-card .testmonial-body {
  position: relative;
  padding: 1rem;
  border: 2px solid #495057;
  border-top-color: #ff214f;
  border-radius: 0.2rem;
  margin-top: 30px;
}

.testmonial-card .testmonial-body:after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  width: 24px;
  height: 24px;
  border-color: #ff214f;
  border-radius: 0.2rem 0 0 0;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transform: rotate(45deg) translateX(-50%);
      -ms-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  background: #343a40;
}

.bg-transparent {
  background-color: transparent !important;
}

.border {
  border: 1px solid #495057 !important;
}

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }
  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important;
  }
  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important;
  }
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }
  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important;
  }
  .m-md-1 {
    margin: 0.25rem !important;
  }
  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important;
  }
  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important;
  }
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important;
  }
  .m-md-2 {
    margin: 0.5rem !important;
  }
  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important;
  }
  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important;
  }
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important;
  }
  .m-md-3 {
    margin: 1rem !important;
  }
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important;
  }
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important;
  }
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important;
  }
  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important;
  }
  .m-md-4 {
    margin: 1.5rem !important;
  }
  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important;
  }
  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important;
  }
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important;
  }
  .m-md-5 {
    margin: 3rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }
  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important;
  }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important;
  }
  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important;
  }
  .p-md-0 {
    padding: 0 !important;
  }
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important;
  }
  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important;
  }
  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important;
  }
  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important;
  }
  .p-md-1 {
    padding: 0.25rem !important;
  }
  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important;
  }
  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important;
  }
  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important;
  }
  .p-md-2 {
    padding: 0.5rem !important;
  }
  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important;
  }
  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important;
  }
  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important;
  }
  .p-md-3 {
    padding: 1rem !important;
  }
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important;
  }
  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important;
  }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
  }
  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important;
  }
  .p-md-4 {
    padding: 1.5rem !important;
  }
  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important;
  }
  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important;
  }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important;
  }
  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important;
  }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important;
  }
  .m-md-n1 {
    margin: -0.25rem !important;
  }
  .mt-md-n1,
  .my-md-n1 {
    margin-top: -0.25rem !important;
  }
  .mr-md-n1,
  .mx-md-n1 {
    margin-right: -0.25rem !important;
  }
  .mb-md-n1,
  .my-md-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ml-md-n1,
  .mx-md-n1 {
    margin-left: -0.25rem !important;
  }
  .m-md-n2 {
    margin: -0.5rem !important;
  }
  .mt-md-n2,
  .my-md-n2 {
    margin-top: -0.5rem !important;
  }
  .mr-md-n2,
  .mx-md-n2 {
    margin-right: -0.5rem !important;
  }
  .mb-md-n2,
  .my-md-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ml-md-n2,
  .mx-md-n2 {
    margin-left: -0.5rem !important;
  }
  .m-md-n3 {
    margin: -1rem !important;
  }
  .mt-md-n3,
  .my-md-n3 {
    margin-top: -1rem !important;
  }
  .mr-md-n3,
  .mx-md-n3 {
    margin-right: -1rem !important;
  }
  .mb-md-n3,
  .my-md-n3 {
    margin-bottom: -1rem !important;
  }
  .ml-md-n3,
  .mx-md-n3 {
    margin-left: -1rem !important;
  }
  .m-md-n4 {
    margin: -1.5rem !important;
  }
  .mt-md-n4,
  .my-md-n4 {
    margin-top: -1.5rem !important;
  }
  .mr-md-n4,
  .mx-md-n4 {
    margin-right: -1.5rem !important;
  }
  .mb-md-n4,
  .my-md-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ml-md-n4,
  .mx-md-n4 {
    margin-left: -1.5rem !important;
  }
  .m-md-n5 {
    margin: -3rem !important;
  }
  .mt-md-n5,
  .my-md-n5 {
    margin-top: -3rem !important;
  }
  .mr-md-n5,
  .mx-md-n5 {
    margin-right: -3rem !important;
  }
  .mb-md-n5,
  .my-md-n5 {
    margin-bottom: -3rem !important;
  }
  .ml-md-n5,
  .mx-md-n5 {
    margin-left: -3rem !important;
  }
  .m-md-auto {
    margin: auto !important;
  }
  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important;
  }
  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important;
  }
  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important;
  }
  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}


.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}

a.badge:hover, a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
}

.badge-primary {
  color: #fff;
  background-color: #21273c;
}

.badge-terceary {
  color: #21273c;
  background-color: #fff;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #5f8f25;
}

a.badge-primary:focus, a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(122, 183, 48, 0.5);
}

.badge-secondary {
  color: #212529;
  background-color: #f4faec;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #212529;
  background-color: #dcefc4;
}

a.badge-secondary:focus, a.badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(244, 250, 236, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #1e7e34;
}

a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

a.badge-info:hover, a.badge-info:focus {
  color: #fff;
  background-color: #117a8b;
}

a.badge-info:focus, a.badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #212529;
  background-color: #d39e00;
}

a.badge-warning:focus, a.badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

a.badge-danger:hover, a.badge-danger:focus {
  color: #fff;
  background-color: #bd2130;
}

a.badge-danger:focus, a.badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-light {
  color: #212529;
  background-color: #FFFFFF;
}

a.badge-light:hover, a.badge-light:focus {
  color: #212529;
  background-color: #e6e6e6;
}

a.badge-light:focus, a.badge-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.badge-dark {
  color: #fff;
  background-color: #ffff;
}

a.badge-dark:hover, a.badge-dark:focus {
  color: #fff;
  background-color: #080808;
}

a.badge-dark:focus, a.badge-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(33, 33, 33, 0.5);
}
